@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xalp8q');
  src:  url('fonts/icomoon.eot?xalp8q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xalp8q') format('truetype'),
    url('fonts/icomoon.woff?xalp8q') format('woff'),
    url('fonts/icomoon.svg?xalp8q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e90a";
}
.icon-file-text:before {
  content: "\e90b";
}
.icon-key:before {
  content: "\e904";
}
.icon-pictures:before {
  content: "\e900";
}
.icon-size:before {
  content: "\e901";
}
.icon-bathroom:before {
  content: "\e902";
}
.icon-bedroom:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e90d";
}
.icon-chevron-up:before {
  content: "\e91f";
}
.icon-chevron-left:before {
  content: "\e922";
}
.icon-chevron-down:before {
  content: "\e923";
}
.icon-earth:before {
  content: "\e909";
}
.icon-eye-slash:before {
  content: "\e912";
}
.icon-eye:before {
  content: "\e92b";
}
.icon-lightbulb:before {
  content: "\e97f";
}
.icon-team:before {
  content: "\e972";
}
.icon-information-line:before {
  content: "\ea0c";
}
.icon-user:before {
  content: "\e971";
}
.icon-phone:before {
  content: "\e942";
}
.icon-mail:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e948";
}
.icon-property:before {
  content: "\e90c";
}
.icon-home:before {
  content: "\e95b";
}
.icon-notification-bell:before {
  content: "\e959";
}
.icon-search:before {
  content: "\e954";
}
.icon-whatsapp:before {
  content: "\e951";
}
.icon-checkmark:before {
  content: "\e94b";
}
.icon-menu:before {
  content: "\e94e";
}
.icon-arrow-down:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-arrow-up:before {
  content: "\e908";
}
.icon-favourite-solid:before {
  content: "\e920";
}
.icon-favourite-line:before {
  content: "\e921";
}
.icon-google:before {
  content: "\e925";
}
.icon-shift:before {
  content: "\e936";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin-solid:before {
  content: "\eac9";
}
.icon-linkedin-text:before {
  content: "\eaca";
}
