@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?wds7xc');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?wds7xc#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?wds7xc') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?wds7xc') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?wds7xc##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logout {
  &:before {
    content: $icon-logout; 
  }
}
.icon-moneybag {
  &:before {
    content: $icon-moneybag; 
  }
}
.icon-history {
  &:before {
    content: $icon-history; 
  }
}
.icon-restore {
  &:before {
    content: $icon-restore; 
  }
}
.icon-user-line {
  &:before {
    content: $icon-user-line; 
  }
}
.icon-add {
  &:before {
    content: $icon-add; 
  }
}
.icon-delete-line {
  &:before {
    content: $icon-delete-line; 
  }
}
.icon-delete-solid {
  &:before {
    content: $icon-delete-solid; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-upload {
  &:before {
    content: $icon-upload; 
  }
}
.icon-coins {
  &:before {
    content: $icon-coins; 
  }
}
.icon-wallet {
  &:before {
    content: $icon-wallet; 
  }
}
.icon-money {
  &:before {
    content: $icon-money; 
  }
}
.icon-statistic {
  &:before {
    content: $icon-statistic; 
  }
}
.icon-credit-card {
  &:before {
    content: $icon-credit-card; 
  }
}
.icon-cart-arrow-down {
  &:before {
    content: $icon-cart-arrow-down; 
  }
}
.icon-settings-solid {
  &:before {
    content: $icon-settings-solid; 
  }
}
.icon-star-line {
  &:before {
    content: $icon-star-line; 
  }
}
.icon-star-solid {
  &:before {
    content: $icon-star-solid; 
  }
}
.icon-speedometer {
  &:before {
    content: $icon-speedometer; 
  }
}
.icon-settings-line {
  &:before {
    content: $icon-settings-line; 
  }
}
.icon-message {
  &:before {
    content: $icon-message; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-gift {
  &:before {
    content: $icon-gift; 
  }
}
.icon-notification-line {
  &:before {
    content: $icon-notification-line; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-notification-solid {
  &:before {
    content: $icon-notification-solid; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark; 
  }
}
.icon-menu {
  &:before {
    content: $icon-menu; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up; 
  }
}
.icon-favourite-solid {
  &:before {
    content: $icon-favourite-solid; 
  }
}
.icon-favourite-line {
  &:before {
    content: $icon-favourite-line; 
  }
}
.icon-google {
  &:before {
    content: $icon-google; 
  }
}
.icon-shift {
  &:before {
    content: $icon-shift; 
  }
}
.icon-pagination-arrow-left {
  &:before {
    content: $icon-pagination-arrow-left; 
  }
}
.icon-pagination-arrow-right {
  &:before {
    content: $icon-pagination-arrow-right; 
  }
}
.icon-share {
  &:before {
    content: $icon-share; 
  }
}
.icon-file-text {
  &:before {
    content: $icon-file-text; 
  }
}
.icon-key {
  &:before {
    content: $icon-key; 
  }
}
.icon-pictures {
  &:before {
    content: $icon-pictures; 
  }
}
.icon-size {
  &:before {
    content: $icon-size; 
  }
}
.icon-bathroom {
  &:before {
    content: $icon-bathroom; 
  }
}
.icon-bedroom {
  &:before {
    content: $icon-bedroom; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-earth {
  &:before {
    content: $icon-earth; 
  }
}
.icon-eye-slash {
  &:before {
    content: $icon-eye-slash; 
  }
}
.icon-eye {
  &:before {
    content: $icon-eye; 
  }
}
.icon-lightbulb {
  &:before {
    content: $icon-lightbulb; 
  }
}
.icon-team {
  &:before {
    content: $icon-team; 
  }
}
.icon-information-line {
  &:before {
    content: $icon-information-line; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-phone {
  &:before {
    content: $icon-phone; 
  }
}
.icon-mail {
  &:before {
    content: $icon-mail; 
  }
}
.icon-location {
  &:before {
    content: $icon-location; 
  }
}
.icon-property {
  &:before {
    content: $icon-property; 
  }
}
.icon-github {
  &:before {
    content: $icon-github; 
  }
}
.icon-linkedin-solid {
  &:before {
    content: $icon-linkedin-solid; 
  }
}
.icon-linkedin-text {
  &:before {
    content: $icon-linkedin-text; 
  }
}
.icon-agent {
  &:before {
    content: $icon-agent; 
  }
}

