$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-add: "\e91b";
$icon-delete-line: "\e91c";
$icon-delete-solid: "\e91d";
$icon-edit: "\e91e";
$icon-upload: "\e924";
$icon-coins: "\e926";
$icon-wallet: "\e927";
$icon-money: "\e910";
$icon-statistic: "\e911";
$icon-credit-card: "\e928";
$icon-cart-arrow-down: "\e929";
$icon-settings-solid: "\e913";
$icon-star-line: "\e914";
$icon-star-solid: "\e915";
$icon-speedometer: "\e916";
$icon-settings-line: "\e917";
$icon-message: "\e918";
$icon-close: "\e92a";
$icon-gift: "\e919";
$icon-notification-line: "\e91a";
$icon-home: "\e95b";
$icon-notification-solid: "\e959";
$icon-search: "\e954";
$icon-whatsapp: "\e951";
$icon-checkmark: "\e94b";
$icon-menu: "\e94e";
$icon-arrow-down: "\e905";
$icon-arrow-left: "\e906";
$icon-arrow-right: "\e907";
$icon-arrow-up: "\e908";
$icon-favourite-solid: "\e920";
$icon-favourite-line: "\e921";
$icon-google: "\e925";
$icon-shift: "\e936";
$icon-pagination-arrow-left: "\e90f";
$icon-pagination-arrow-right: "\e90e";
$icon-share: "\e90a";
$icon-file-text: "\e90b";
$icon-key: "\e904";
$icon-pictures: "\e900";
$icon-size: "\e901";
$icon-bathroom: "\e902";
$icon-bedroom: "\e903";
$icon-chevron-right: "\e90d";
$icon-chevron-up: "\e91f";
$icon-chevron-left: "\e922";
$icon-chevron-down: "\e923";
$icon-earth: "\e909";
$icon-eye-slash: "\e912";
$icon-eye: "\e92b";
$icon-lightbulb: "\e97f";
$icon-team: "\e972";
$icon-information-line: "\ea0c";
$icon-user: "\e971";
$icon-phone: "\e942";
$icon-mail: "\e945";
$icon-location: "\e948";
$icon-property: "\e90c";
$icon-github: "\eab0";
$icon-linkedin-solid: "\eac9";
$icon-linkedin-text: "\eaca";
$icon-agent: "\e976";

