@import "../../assets/styles/variables.scss";

.view-modal {
  background-color: $darkGrey6;
  color: $white;
  width: 100%;
  position: relative;

  .modal__content {
    width: 100%;
    padding: 50px;
    max-height: 90vh;
    overflow: auto;

    &::-webkit-scrollbar-track {
      background-color: rgba($lightBlue, 0);
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba($grey2, 1);
    }

    .view-modal__header {
      font-weight: 500;
      font-size: 1.25rem;
    }

    .view-modal__section {
      margin-top: 30px;

      &.section--row {
        display: flex;
        flex-wrap: nowrap;

        &.row--2 {
          .view-modal__column {
            width: 50%;
            padding-right: 15px;

            &:last-of-type {
              padding-right: 0;
              padding-left: 15px;
            }
          }
        }
      }

      .view-modal__title {
        font-weight: 600;
        font-size: 0.9375rem;
      }

      .view-modal__subtitle {
        font-weight: 500;
        font-size: 0.875rem;
        margin-top: 4px;
        word-break: break-word;

        strong {
          color: $greenBlue;
          margin-right: 5px;
        }
      }

      .view-modal__image-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      .list__image-preview {
        position: relative;
        padding: 3px;
        border: 1px solid $greenBlue;
        margin-top: 10px;
        margin-right: 10px;
        width: 100px;
        height: 100px;
        display: block;

        &:hover {
          .preview__view-image-sign {
            opacity: 1;
          }
        }

        .image {
          width: 100%;
          height: 100%;
          object-fit: contain;
          background: $lightGrey2;
        }

        .preview__view-image-sign {
          position: absolute;
          z-index: 3;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba($black, 0.65);
          color: $greenBlue;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;

          .sign-icon {
            margin-right: 5px;
            font-size: 1rem;
          }

          .sign-text {
            font-size: 0.875rem;
            font-weight: 500;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }

  .view-modal__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    outline: 0;
    color: $white;
    background-color: transparent;
    font-size: 1.125rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $grey2;
    }
  }
}
