@import "variables.scss";

.about-us__modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px;

  @media only screen and (max-width: 1380px) {
    padding: 50px;
  }

  &.modal--dark {
    background-color: $darkGrey4;

    .developer-title {
      color: $white;
    }

    .developer-subtitle {
      color: $grey2;
    }

    .icon {
      border-color: $greenBlue !important;
      color: $greenBlue !important;

      &:hover {
        background: $greenBlue !important;
        color: $white !important;
      }
    }

    .developer-description {
      color: $grey2;
    }
  }

  .developer-image {
    width: 189px;
    height: 200px;
    border-radius: 50%;
    object-fit: contain;
  }

  .developer-title {
    color: $darkGrey;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 30px 0 5px;

    @media only screen and (max-width: 1380px) {
      font-size: 1.375rem;
    }
  }

  .developer-subtitle {
    color: $lightGrey3;
    font-weight: 500;
    font-size: 0.875rem;

    @media only screen and (max-width: 1380px) {
      font-size: 0.8125rem;
    }
  }

  .social-buttons {
    margin: 30px 0;

    .social-icon {
      text-decoration: transparent;

      .icon {
        padding: 10px;
        margin: 0 5px;
        border: 1px solid $blue;
        color: $blue;
        font-size: 1.125rem;
        border-radius: 50%;
        transition: background 0.3s, color 0.3s;

        &:hover {
          background: $blue;
          color: $white;
        }
      }
    }
  }

  .developer-description {
    color: $lightGrey3;
    line-height: 1.8;
    font-size: 0.875rem;
    margin-bottom: 15px;

    @media only screen and (max-width: 1380px) {
      font-size: 0.8125rem;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
