@import "variables.scss";
@import "../icomoon/style.scss";
@import "../icomoon/variables.scss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  * {
    font-family: $baseFont;
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  // -------------------------------------
  .main-section {
    height: 100vh;
    background-attachment: static;
    background-repeat: no-repeat;
    width: 100%;
  }

  .admin-site__container {
    display: flex;
    background: $light;

    .admin-sidebar {
      width: 200px;
      min-height: 100vh;
    }

    .admin-content__container {
      width: calc(100% - 200px);
      min-height: 100vh;

      .admin-content {
        background: $light2;
        height: 90vh;
        margin-right: 50px;
        margin-bottom: 50px;
        border-radius: 30px;
      }
    }
  }

  // scroll customization styling soon
  // &::-webkit-scrollbar-track {
  //   background-color: var(--background-color);
  //   width: 10px;
  // }

  // &::-webkit-scrollbar {
  //   border-radius: 4px;
  //   width: 6px;
  //   background-color: var(--background-color);
  // }

  // &::-webkit-scrollbar-thumb {
  //   border-radius: 4px;
  //   background-color: var(--scroll-color);
  // }

  // -------------------------------------
  .Toastify__toast-container {
    width: auto;
    max-width: 1000px;
  }

  .Toastify__toast {
    padding: 15px;
    padding-right: 40px;
  }

  .Toastify__toast--success {
    background-color: $successGreen !important;
  }

  .Toastify__toast--warning {
    background-color: $warningYellow !important;
  }

  .Toastify__close-button {
    position: absolute;
    right: 15px;
  }
}
