@import "variables.scss";

.uppercase--all {
  text-transform: uppercase;
}

// < ---------------------------------------- >

.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  .subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    color: $white;
    letter-spacing: 4px;
  }

  .title {
    font-size: 4.5rem;
    font-weight: 600;
    color: $white;
    margin: 20px 0 40px;
  }

  .banner-navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    .nav--item {
      position: relative;
      padding: 10px 15px;
      margin: 0 10px;
      width: 200px;
      cursor: pointer;
      background: $blue;
      color: $white;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 2px;
      outline: 0;
      border: 0;
      text-transform: uppercase;

      &:hover {
        background: $darkBlue;
        color: $white;
      }

      &.nav--active {
        background: $white;
        color: $blue;

        &::before {
          background-color: $white;
          content: "";
          height: 20px;
          position: absolute;
          top: 30px;
          width: 20px;
          margin-left: -10px;
          transform: rotate(45deg);
          left: 50%;
        }

        &:hover {
          background: $white;
          color: $blue;
        }
      }
    }
  }

  .search-bar {
    display: flex;
    height: 60px;
    width: 70%;
    position: relative;

    .search-icon {
      position: absolute;
      font-size: 1.25rem;
      top: 19px;
      left: 20px;
      color: $blue;
    }

    .search-input {
      display: block;
      padding: 0 20px 0 60px;
      font-weight: 500;
      height: 100%;
      outline: 0;
      border: 0;
      width: 85%;
      background: $white;
      border-radius: 4px 0 0 4px;
      letter-spacing: 1.5px;
    }

    .search-button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.9375rem;
      font-weight: 500;
      width: 15%;
      height: 100%;
      border: 0;
      outline: 0;
      background: $blue;
      color: $white;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: $darkBlue;
      }
    }
  }
}

// < ---------------------------------------- >

.home__listing-preview {
  padding: 60px 100px;

  .list__header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .list-header {
    .list-title {
      font-size: 1.5rem;
      font-weight: 500;
      color: $darkGrey;
    }

    .list__line-decoration {
      border-top: 3px solid $blue;
      width: 50px;
      float: left;
    }

    .list-subtitle {
      margin-top: 40px;
      color: $textGrey;
      font-size: 1rem;
    }
  }

  .list-header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $lightBlue;
    color: $blue;
    border-radius: 4px;
    border: 0;
    outline: 0;
    height: 50px;
    width: 200px;
    cursor: pointer;
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
    transition: background 0.3s;

    &:hover {
      background: $lightBlueHover;
    }

    .title {
      font-weight: 500;
    }

    .icon-arrow-right {
      margin-left: 10px;
    }
  }

  .preview__list-carousel {
    position: relative;

    .slick-list {
      padding: 20px 0;
    }

    .carousel__wrapper {
      width: 90%;
      margin: auto;

      &.wrapper--is-loading {
        display: flex;
        justify-content: center;

        .skeleton-list__container {
          flex-wrap: nowrap;
          width: 95%;
        }

        .card-skeleton__container {
          padding: 0 10px;
          width: 25%;
        }
      }
    }

    .carousel-icon {
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1rem;
      border-radius: 50%;
      padding: 15px;
      width: 50px;
      height: 50px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
      background: $white;
      color: $textGrey;
      z-index: 15;
      cursor: pointer;
      transition: background 0.3s, color 0.3s;
      border: 0;

      &:hover {
        background: $blue;
        color: $white;
      }

      &.icon--left {
        left: 0;
      }

      &.icon--right {
        right: 0;
      }
    }
  }
}

.listing-card {
  width: 90%;
  margin: auto;
  position: relative;
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-8px);
  }

  .card__image-wrapper {
    position: relative;
    height: 200px;
  }

  .card__image {
    text-decoration: none;
    background: transparent;
    display: block;
    height: 100%;
    cursor: pointer;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.75;
    }

    .image {
      width: 100%;
      height: 100%;
      min-height: 200px;
      display: block;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
      box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.25);
    }
  }

  .card__content-wrapper {
    border: 1px solid $lightGrey2;
    border-radius: 0 0 8px 8px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
  }

  .card-tag {
    padding: 5px 15px;
    background: $blue;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.75rem;
    border-radius: 4px;
    color: $white;
    margin-top: 20px;

    @media only screen and (max-width: 1380px) {
      font-size: 0.6875rem;
      padding: 5px 12px;
    }

    @media only screen and (max-width: 1280px) {
      margin-top: 15px;
    }

    &.tag--featured {
      position: absolute;
      top: 8px;
      left: 8px;
      margin-top: 0;
      background: $darkGold;
    }
  }

  .card__image-count {
    position: absolute;
    bottom: 8px;
    left: 15px;
    display: flex;
    align-items: center;
    color: $white;

    .icon-pictures {
      font-size: 1.25rem;
      margin-right: 6px;
    }

    .count-text {
      font-size: 0.875rem;
      font-weight: 500;
    }
  }

  .card__wishlist-button {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 1.25rem;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: $textGrey;
    border-radius: 50%;
    padding: 8px;
    transition: background 0.3s, color 0.3s;

    &.icon-favourite-line {
      &:hover {
        background: rgba(255, 255, 255, 0.5);
      }
    }

    &.icon-favourite-solid {
      color: $red;

      &:hover {
        color: $redHover;
      }
    }
  }

  .card__content {
    padding: 15px 15px 0;

    .title {
      font-size: 1rem;
      font-weight: 500;
      color: $darkGrey;
    }

    .description {
      margin-top: 5px;
      font-size: 0.75rem;
      font-weight: 500;
      color: $textGrey2;
    }
  }

  .card-detail__wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;

    .card-detail {
      display: flex;
      align-items: center;
      margin-right: 15px;

      @media only screen and (max-width: 1380px) {
        margin-right: 10px;
      }

      &:last-of-type {
        margin-right: 0;
      }

      .detail-icon {
        font-size: 0.75rem;
        color: $blue;
        margin-right: 5px;

        &.icon-size {
          margin-right: 3px;
          font-size: 0.9375rem;
        }

        @media only screen and (max-width: 1380px) {
          margin-right: 5px;
          font-size: 0.6125rem;

          &.icon-size {
            font-size: 0.8125rem;
          }
        }
      }

      .detail-text {
        font-size: 0.825rem;
        font-weight: 500;
        color: $textGrey2;

        @media only screen and (max-width: 1280px) {
          font-size: 0.75rem;
        }
      }
    }
  }

  .card__content-divider {
    border: 1px solid $lightGrey2;
    margin: 20px 0 0;

    @media only screen and (max-width: 1280px) {
      margin: 15px 0 0;
    }
  }

  .card-price__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 15px;
    flex-wrap: wrap;

    .card-price {
      font-size: 0.875rem;
      font-weight: 700;
      color: $textGrey;
      margin-top: 20px;

      @media only screen and (max-width: 1380px) {
        font-size: 0.8125rem;
      }

      @media only screen and (max-width: 1280px) {
        margin-top: 15px;
      }
    }
  }
}

// < ---------------------------------------- >

.home__listing-options {
  display: flex;
  align-items: center;
  padding: 120px 40px 120px 100px;
  background: $lightBlue2;

  @media only screen and (max-width: 1180px) {
    padding: 80px 40px 80px 80px;
  }

  .options__header-wrapper {
    margin-right: 60px;
    width: 25%;

    .header-title {
      font-size: 3.25rem;
      font-weight: 700;
      line-height: 1.1;
      color: $darkGrey;

      @media only screen and (max-width: 1380px) {
        font-size: 3rem;
      }

      @media only screen and (max-width: 1180px) {
        font-size: 2.75rem;
      }
    }

    .header-subtitle {
      margin-top: 30px;
      font-size: 0.875rem;
      font-weight: 500;
      color: $textGrey;
      line-height: 2;

      @media only screen and (max-width: 1180px) {
        font-size: 0.8125rem;
      }
    }
  }

  .options__list-wrapper {
    display: flex;
    align-items: center;
    height: 400px;
    width: 75%;

    .options__list-item {
      width: 25%;
      height: 100%;
      padding: 0;
      margin: 0 10px;
      position: relative;
      box-shadow: -2px 2px 12px rgba(0, 0, 0, 0.35);
      border: 0;
      outline: 0;
      background: transparent;
      cursor: pointer;
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-8px);
      }

      .item-image {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      .item-title,
      .item__listing-count {
        position: absolute;
        left: 15px;
        background: rgba(0, 0, 0, 0.5);
        color: $white;
        font-size: 0.75rem;
        font-weight: 500;
        padding: 4px 8px;
        border-radius: 4px;
        letter-spacing: 1.5px;
      }

      .item-title {
        top: 15px;
      }

      .item__listing-count {
        bottom: 15px;
      }
    }
  }
}

// < ---------------------------------------- >

.home__developers {
  padding: 100px 100px 140px;

  .developer__header-wrapper {
    margin: auto;
    text-align: center;

    .developer-title {
      font-size: 1.5rem;
      font-weight: 500;
      color: $darkGrey;
    }

    .developer-subtitle {
      color: $textGrey;
      font-size: 1rem;
      margin: 10px auto 40px;
      width: 30%;

      @media only screen and (max-width: 1440px) {
        width: 50%;
      }
    }
  }

  .developer__image {
    width: 80%;
  }
}

// < ---------------------------------------- >

.home__agents {
  display: flex;
  align-items: center;
  padding: 80px 40px 80px 100px;
  background: $lightBlue2;

  @media only screen and (max-width: 1180px) {
    padding: 80px 40px 80px 80px;
  }

  .agent__header-wrapper {
    margin-right: 60px;
    width: 35%;

    .agent-title {
      font-size: 3.25rem;
      font-weight: 700;
      line-height: 1.1;
      color: $darkGrey;

      @media only screen and (max-width: 1380px) {
        font-size: 3rem;
      }

      @media only screen and (max-width: 1180px) {
        font-size: 2.75rem;
      }
    }

    .agent-subtitle {
      margin-top: 30px;
      font-size: 0.875rem;
      font-weight: 500;
      color: $textGrey;
      line-height: 2;
      max-width: 450px;
    }
  }

  .agent__list-carousel {
    width: 65%;

    .carousel__button-list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 20px;
      margin-right: 20px;
    }

    .carousel-icon {
      display: block;
      font-size: 1rem;
      border-radius: 50%;
      padding: 15px;
      margin: 0 10px;
      width: 50px;
      height: 50px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
      background: $white;
      color: $textGrey;
      cursor: pointer;
      transition: background 0.3s, color 0.3s;
      border: 0;

      &:hover {
        background: $blue;
        color: $white;
      }
    }

    .carousel__wrapper {
      &.wrapper--is-loading {
        display: flex;
        justify-content: center;

        .skeleton-list__container {
          flex-wrap: nowrap;
          width: 100%;
        }

        .card-skeleton__container {
          padding: 0 10px;
          width: 33%;
        }
      }

      .slick-list {
        padding: 20px 0;
      }
    }
  }

  .agent__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $blue;
    color: $white;
    border-radius: 4px;
    margin-top: 20px;
    text-decoration: none;
    height: 50px;
    width: 200px;
    cursor: pointer;
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
    transition: background 0.3s;

    &:hover {
      background: $darkBlue;
    }

    .title {
      font-size: 0.875rem;
      font-weight: 500;
    }

    .icon-arrow-right {
      margin-left: 10px;
    }
  }
}

.agent-card {
  width: 90%;
  margin: auto;
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-8px);
  }

  .card__image {
    height: 200px;
    width: 100%;
    display: block;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
    box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.25);
  }

  .card__content {
    border: 1px solid $lightGrey2;
    border-radius: 0 0 8px 8px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
    padding: 15px;
    background: $white;

    .title {
      font-size: 1rem;
      font-weight: 500;
      color: $darkGrey;
    }
  }

  .card-detail {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-top: 8px;

    &.detail--location {
      margin-top: 15px;
    }

    &:last-of-type {
      margin-right: 0;
    }

    .detail-icon {
      font-size: 0.75rem;
      color: $blue;
      margin-right: 5px;
    }

    .detail-text {
      font-size: 0.8125rem;
      font-weight: 500;
      color: $textGrey2;
    }
  }
}

// < ---------------------------------------- >
