@import "variables.scss";

.navigation__bar {
  margin-top: 20px;
  padding: 20px 75px 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transition: margin-top 0.3s, background 0.3s;
  z-index: 100;

  &.nav--scrolled {
    background: $darkBlue2;
    margin-top: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }

  .navigation__list,
  .auth-button__list {
    display: flex;
    align-items: center;
    letter-spacing: 3px;
  }

  .nav-image__wrapper {
    display: flex;
    align-items: center;
    margin-right: 70px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      .nav__logo-title {
        color: $white;
      }
    }

    .nav__image {
      width: 35px;
      height: 100%;
    }

    .nav__logo-title {
      font-size: 1rem;
      font-weight: 500;
      margin-left: 10px;
      text-transform: uppercase;
      color: $lightGrey2;
      transition: color 0.3s;
    }
  }

  .nav__item {
    display: block;
    font-weight: 500;
    color: $lightGrey2;
    text-decoration: none;
    margin-right: 30px;
    font-size: 0.8125rem;
    text-transform: uppercase;
    background: transparent;
    border: 0;
    padding: 0;
    letter-spacing: 3px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $white;
    }
  }

  .nav__auth-button {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border: 1px solid $lightGrey2;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    color: $lightGrey2;
    text-transform: uppercase;
    outline: 0;
    transition: background 0.3s, color 0.3s;

    &:hover {
      border-color: $white;
      background: $white;
      color: $blue;
    }

    &.auth--admin {
      margin-left: 10px;

      .icon {
        margin-right: 0;
        margin-left: 8px;
      }
    }

    .icon {
      font-size: 0.875rem;
      margin-right: 8px;
    }

    .title {
      font-size: 0.75rem;
      font-weight: 500;
      letter-spacing: 2px;
    }
  }
}
