@import "variables.scss";

.unsupported-device-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 0 30px;

  .lottie-animation__container {
    width: 40%;
    margin-top: -5%;

    @media only screen and (min-width: 0px) and (max-width: 425px) {
      // -- 0px to 425px --
      width: 95%;
    }

    @media only screen and (min-width: 425px) and (max-width: 600px) {
      // -- 425px to 600px --
      width: 80%;
    }

    @media only screen and (min-width: 600px) and (max-width: 900px) {
      // -- 600px to 900px --
      width: 60%;
    }
  }

  .title {
    color: $darkBlue2;
    font-size: 1.125rem;
    font-weight: 600;
    max-width: 600px;
    margin: 30px 0 20px;
    line-height: 1.5;

    @media only screen and (min-width: 0px) and (max-width: 600px) {
      // -- 0px to 600px --
      font-size: 0.875rem;
      margin: 30px 0 10px;
    }
  }

  .social-media__wrapper {
    display: flex;

    .media-button {
      padding: 10px;
      margin: 0 10px;
      display: block;
      background: none;
      color: $darkBlue2;
      font-size: 1.5rem;
      cursor: pointer;
      border: 0;
      outline: 0;
      text-decoration: none;

      @media only screen and (min-width: 0px) and (max-width: 600px) {
        // -- 0px to 600px --
        margin: 0;
        font-size: 1.125rem;
      }
    }
  }
}
