$baseFont: "Poppins", "Arial", "Helvetica", "sans-serif";

// Light
$white: #ffffff;
$lightGrey1: #d1d1d1;
$lightGrey2: #eee;
$lightGrey3: #6c757d;
$lightGrey4: #c9ced6;
$grey: #8a94a6;
$disabledGrey: #e1e4e8;

// Dark
$black: #000000;
$darkGrey: #222222;
$darkGrey1: #0a1f44;
$darkGrey2: #243b55;

$lightBlue: #eff6f7;
$lightBlueHover: #d6e8ea;
$lightBlue2: #f0f9fb;
$red: #dc3545;
$redHover: #b92c3a;
$blue: #0073e1;
$darkBlue: #0857a2;
$darkBlue2: #063f75;
$gold: #ebba7c;
$darkGold: #e08b00;
$textGrey: #696969;
$textGrey2: #ababab;
