$baseFont: "Poppins", "Arial", "Helvetica", "sans-serif";

// Light
$white: #ffffff;
$lightGrey1: #d1d1d1;
$lightGrey2: #e2e2e2;
$lightGrey3: #f6f6f6;
$lightGrey4: #c9ced6;
$lightGrey5: #a6aebc;
$lightGrey6: #bdbdbd;
$lightGrey7: #f2f2f2;
$lightGrey8: #fcfcfd;
$grey: #8a94a6;
$disabledGrey: #e1e4e8;

// Dark
$black: #000000;
$darkGrey1: #0a1f44;
$darkGrey2: #141e30;
$darkGrey3: #243b55;
$darkGrey4: #182c4f;

// Primary
$primary1: #0072ff;
$primary2: #00c6ff;
$primary3: #0c66ff;

// Success
$success1: #1d976c;
$success2: #6ee999;
$success3: #22c993;

// Warning
$warning1: #ff8008;
$warning2: #ffc837;
$warning3: #ffaf19;

// Danger
$danger1: #cb2d3e;
$danger2: #ef473a;
