$baseFont: "Poppins", "Arial", "Helvetica", "sans-serif";

// Light
$white: #ffffff;
$lightGrey1: #d1d1d1;
$lightGrey2: #e2e2e2;
$lightGrey3: #f6f6f6;
$lightGrey4: #c9ced6;
$lightGrey5: #a6aebc;
$lightGrey6: #bdbdbd;
$lightGrey7: #f2f2f2;
$lightGrey8: #fcfcfd;
$grey: #8a94a6;
$disabledGrey: #e1e4e8;

// Dark
$black: #000000;
$darkGrey: #333333;
$darkGrey1: #0a1f44;
$darkGrey2: #222831;
$darkGrey3: #243b55;

$blue: #0073e1;
$darkBlue: #0857a2;
$gold: #ebba7c;
$darkGold: #e08b00;
$textGrey: #696969;
